################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
/WebAPI/bin/Debug/net9.0
/WebAPI/appsettings.Development.json
/WebAPI/appsettings.json
